#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.pokedex {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background: linear-gradient(135deg, #e63946, #f1faee);
  border: 8px solid #1d3557;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
  position: relative;
  text-align: center;
}

@media (max-width: 768px) {
  html, body {
    overflow-x: hidden; 
    position: relative;
  }

  .pokedex {
    width: auto;
    min-height: 100vh;
    border-radius: 0;
    padding: 10px;
  }

  #root{
    padding: 0;
    margin: 0;
    width: 100vw;
  }
}

.pokedex-header {
  padding: 15px;
  border-radius: 15px;
  color: #f1faee;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.pokemon-name {
  font-size: 1.8rem;
  color: #ffcb05;
  text-transform: capitalize;
  margin-bottom: 10px;
  border-bottom: 2px solid #ffcb05;
  padding-bottom: 5px;
}

.error-message {
  font-size: 1.2rem;
  color: #e63946;
}

.loading-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.pokemon-input-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}

.pokemon-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 2px solid #ccc;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.pokemon-input-btn {
  padding: 10px;
  font-size: 16px;
  background-color: #ffcb05;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
}

.pokemon-input-btn:hover {
  background-color: #ff9c00;
}

.suggestions-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-height: 300px;
  overflow-y: auto;
}

.suggestion-item {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.suggestion-item:hover {
  background-color: #f0f0f0;
}

.suggestion-icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border-radius: 50%;
}

.sprites {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 10px;
  justify-content: center;
}

/* Sección de imágenes de Macho */
.sprites > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centra las imágenes */
  margin-bottom: 30px; /* Espaciado debajo de cada grupo de imágenes */
}

/* Sección de imágenes de Hembra (ocultarlas si no existen imágenes) */
.female-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pokedex-controls {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.sprites-section h3 {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-bottom: 15px;
  background: #ffcb05;
  color: #1d3557;
  padding: 5px 15px;
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}


/* Contenedor de las imágenes para organizar en una fila */
.sprites-section div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /* Permite que las imágenes bajen si no hay espacio horizontal */
  gap: 10px; /* Espacio entre imágenes */
}

/* Estilo de las imágenes */
.sprites-section img {
  width: 150px;
  height: auto;
  margin: 5px;
  border-radius: 10px;
/*   border: 2px solid rgba(255, 255, 255, 0.7); 
  background: rgba(255, 255, 255, 0.2); */
  transition: transform 0.3s ease-in-out;
}

/* Efecto hover en imágenes */
.sprites-section img:hover {
  transform: scale(1.3);
  animation: transform 1 timing-function delay iteration-count direction fill-mode;
  filter: drop-shadow(0 0 20px #f8f8f8);
  /* box-shadow: 0 0 10px rgba(255, 203, 5, 0.8); */
}

.pokedex-screen {
   background-color: #457b9d;
}