#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.pokemon-input-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}

.pokemon-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 2px solid #ccc;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.pokemon-input-btn {
  padding: 10px;
  font-size: 16px;
  background-color: #ffcb05;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
}

.pokemon-input-btn:hover {
  background-color: #ff9c00;
}

.suggestions-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-height: 300px;
  overflow-y: auto;
}

.suggestion-item {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.suggestion-item:hover {
  background-color: #f0f0f0;
}

.suggestion-icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border-radius: 50%;
}

/* Estilos generales para las imágenes */
.sprites img {
  width: 200px; /* Aumenta el tamaño de las imágenes */
  height: auto; /* Mantiene la proporción de la imagen */
  margin: 10px; /* Espaciado entre imágenes */
  border-radius: 8px; /* Bordes redondeados */
}

/* Sección de imágenes de Macho */
.sprites > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centra las imágenes */
  margin-bottom: 30px; /* Espaciado debajo de cada grupo de imágenes */
}

/* Sección de imágenes de Hembra (ocultarlas si no existen imágenes) */
.female-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Hacer que las imágenes en la sección de hembra sean más grandes */
.female-images img {
  width: 200px; /* Aumenta el tamaño de las imágenes */
  height: auto;
  margin: 10px;
  border-radius: 8px;
}